/*contact inform*/

.footer {
  background-color: $second-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  background-color: $second-background-color;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  display: flex;
  align-items: baseline;
}

.footer__logo {
  color: $white;
}

.footer__contact {
  color: $white;
  font-family: $primary-font;
  font-style: $primary-font-style;
  font-weight: $primary-font-weight;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
}

.footer__auth {
  margin-top: 9px;
}

.footer__item {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__title {
  &:nth-child(n + 2) {
    margin-top: 9px;
  }
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-left: 70px;
}

.join__text {
  color: $white;
  margin: 0;
  margin-bottom: 20px;
}

.join__item {
  display: flex;
}

.join__info {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.join__link {
  background: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: $accent-color;
  }
}

.join__icon {
  fill: $white;

  .join__link:hover &,
  .join__link:focus & {
    fill: $white;
  }
}

.footer__mailing {
  display: flex;
}

.footer__form {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.footer__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;

  margin-bottom: 20px;
}

.footer__textarea {
  width: 358px;
  height: 50px;
  resize: none;
  font-family: $primary-font;
  font-style: $primary-font-style;
  font-weight: $primary-font-weight;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px 15px 16px;
  color: $white;
}

.subscribe__btn {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  margin-left: 12px;
  margin-top: auto;
  background-color: $accent-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.subscribe__text {
  font-family: $primary-font;
  font-style: $primary-font-style;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: $white;
  padding-left: 29px;
  padding-right: 10px;
}
